.btn {
    height: 40px;
    padding: 8px 20px;

    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;


    color: var(--accent-color);
    background-color: var(--accent-color-transparent);
    border-radius: 20px;
    border: 1px solid var(--accent-color);

    transition: var(--main-transition);

    &:hover {
        color: var(--accent-color-hover);
        border: 1px solid var(--accent-color-hover);
    }

    @media screen and (max-width: 1279px) {
        width: 120px;
    }
}