.contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    gap: 24px;


    width: 100%;

    padding: 0px 110px;

    @media screen and (min-width: 1280px) {
        flex-direction: row;
        height: 280px;
    }
}

.contacts__wrap {
    position: relative;
    height: 100%
}

.contacts__background {
    display: none;

    position: absolute;
    width: 100%;
    height: 280px;
    top: 0px;
    left: 0px;

    background-color: var(--white-color);
    z-index: -2;

    @media screen and (min-width: 1280px) {
        display: block;
    }
}

.contacts__background-image {

    display: none;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 36%;

    width: 368px;
    height: 368px;

    background-image: url('../images/map.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;


    @media screen and (min-width: 1280px) {
        display: block;
    }
}

.contacts__tel,
.contacts__address {
    display: flex;
    flex-direction: column;
    gap: 13px;

    @media screen and (max-width: 1279px) {
        width: 290px;
    }
}

.contacts__phone-link,
.contacts__email-link {
    font-family: var(--secondary-font);
    font-size: 32px;
    font-weight: 400;

 

    line-height: 0.9;
    color: inherit;

    &:hover {
        color: var(--accent-color-hover);
    }
}


.contacts__address-link {
    display: flex;
    align-items: flex-end;
}

.contacts__address-text {
    width: 250px;



    @media screen and (min-width: 1280px) {
        color: var(--white-color);
    }

}

.contacts__address-text--location {
    font-family: var(--secondary-font);
    font-size: 32px;
    line-height: 1.1;
    font-weight: 400;
}

.contacts__address-icon-wrap {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: var(--white-color);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0.8;

    &:hover {
        opacity: 1;
    }
}

.contacts__email {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media screen and (max-width: 1279px) {
        width: 290px;
    }
}

.contacts__email--email {
    display: flex;
    flex-direction: column;
}

.contacts__social-list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 200px;
}

.contacts__social-item {
    &:hover img {
        filter: brightness(1.3);
    }
}