:root {
    --main-transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);

    --main-font: "Inter", sans-serif;
    --secondary-font: "Oranienbaum", serif;

    --bg-color: #0e1c2e;
    --text-color: #ffffff;

    --accent-color: #CC8E1E;
    --accent-color-transparent: #FFB13B1A;
    --accent-color-hover: #FFB13B;

    --white-color: #344055;
    --black-color: #FFFFFF;

    --label-color: #B6BBC3;
    --placeholder-color: #646E7C;
    --disabled-color: #D3CFC3;

    --list-heading-bg-color: #5c7cac;
    --list-item-bg-color: #566a82;
}